# fly.toml app configuration file generated for storetrack on 2023-06-20T20:52:29+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "storetrack"
primary_region = "mad"
console_command = "/rails/bin/rails console"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 0

[[statics]]
  guest_path = "/rails/public"
  url_prefix = "/"
