@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";

.custom-background {
  background-color: $gray-200;
  background-image: url("/assets/wave.svg"), url("/assets/wave2.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom, top;
}

a {
  text-decoration: none !important;
}

.card {
  border: none !important;
}

.card-footer {
  border: none !important;
}

.card-header {
  border: none !important;
}

.btn {
  border-radius: 0.6rem !important;
}

.btn-secondary.active {
  background-color: $custom-gray !important;
}

.form-control {
  border-radius: 0.6rem !important;
}

.rounded-custom {
  border-radius: 0.6rem;
}

.inputs-container {
  max-width: 31.6rem;
}

@include media-breakpoint-only(xs) {
  .dropdown-user-exit {
    right: 0px !important;
    left: -100px !important;
  }

  .search-form {
    width: 100%;
  }
}
