$custom-red: #d23953;
$custom-gray: #dee2e6;
$mid-gray: #9ea2a5;

$primary:       $custom-red;
$secondary:     $custom-gray;
$info:     $mid-gray;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 5,
);

