<%= link_to client_path(client), class: 'card d-flex flex-row gap-5 btn btn-outline-secondary text-dark shadow-sm p-3 mb-3 rounded-custom' do %>
  <span class="my-auto">
    <strong>Name:</strong>
    <%= client.full_name %>
  </span>

  <span class="my-auto d-none d-md-inline">
    <strong>Email:</strong>
    <%= client.email %>
  </span>

  <span class="my-auto d-none d-xl-inline">
    <strong>Phone:</strong>
    <%= client.phone %>
  </span>
<% end %>
