<section class="row">
  <div class="col">
    <h5>Total: <%= @clients.count %> </h5>
  </div>
  <div class="col">
    <%= link_to new_client_path, class: 'btn btn-primary float-end' do %>
      <%= bootstrap_icon('plus-circle-fill', class: "mb-1") %>
      <span>New client</span>
    <% end %>
  </div>
</section>
<section class="row">
  <div class="col mt-3">
    <%= render @clients %>
  </div>
</section>
