<h1>New client</h1>

<div>
  <%= link_to clients_path do %>
      <%= bootstrap_icon('caret-left-fill', class: "mb-2") %>
      <span class="fs-5">Clients</span>
  <% end %>
</div>

<%= render "form", client: @client %>

<br>

