<%#= current_store.inspect %>
<section class="row gap-4">
  <article class="col">
    <div class="card p-3 shadow-sm"><canvas class="m-auto" id="clients" width="350"></canvas></div>
  </article>
  <article class="col">
    <div class="card p-3 shadow-sm"><canvas class="m-auto" id="products" width="350"></canvas></div>
  </article>
  <article class="col">
    <div class="card p-3 shadow-sm"><canvas class="m-auto" id="sales" width="350"></canvas></div>
  </article>
</section>

<script type="module" src="application.js"></script>
<%#= current_user.inspect %>

